@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
  font-family: "neuelight";
  src: url(./assets/font/NeueMachina-Light.ttf);
}

@font-face {
  font-family: "neueregular";
  src: url(./assets/font/NeueMachina-Regular.ttf);
}

@font-face {
  font-family: "neueultrabold";
  src: url(./assets/font/NeueMachina-Ultrabold.ttf);
}

.raleway {
  font-family: "raleway", sans-serif;
}

.plus {
  font-family: "plus Jakarta ", sans-serif;
}

.font-machice_normal {
  font-family: "NeueMachina-Light", sans-serif;
}

.font-machice_regular {
  font-family: "NeueMachina-Regular", sans-serif;
}

.machice_bold {
  font-family: "NeueMachina-Ultrabold", sans-serif;
}