@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "neuelight";
    src: url(./assets/font/NeueMachina-Light.ttf);
}

@font-face {
    font-family: "neueregular";
    src: url(./assets/font/NeueMachina-Regular.ttf);
}

@font-face {
    font-family: "neueultrabold";
    src: url(./assets/font/NeueMachina-Ultrabold.ttf);
}

.light {
    font-family: "neuelight", sans-serif;
}

.regular {
    font-family: "neueregular", sans-serif;
}

.ultrabold {
    font-family: "neueultrabold", sans-serif;
}